<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Appointment Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/styles1.css">
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-brand hd" href="/shome">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-brand hd" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item active">
      <a class="nav-brand hd" href="/apmt">Book Appiontment <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-brand hd" href="/mybook">My Bookings</a>
    </li>
    <li class="nav-item active">
      <a class="nav-brand hd" href="/facavab">Faculty availability</a>
    </li>
</div>
<div class="">
  <form class="" action="/logout" method="POST">
    <button type="submit" name="logoutbutton" style="color:white;border-radius: 0.3rem;margin-right:1rem;background-color:#4E68BF;border:aliceblue;">Logout</button>
  </form>

</div>
</nav>

    <div>
        <h2 style="text-align: center;
        color: white;
        text-shadow: 1px 1px 2px rgb(163, 8, 8), 0 0 25px rgb(166, 9, 25), 0 0 5px rgb(83, 6, 6);
        display: block;padding: 0.5rem;"><em> Appointments Booked</em></h2>
    </div>
  <hr>


  <div class="ms-auto">
    <% apmtsBooked.forEach(function(user){ %>
      <div class="ab" style="background-color:aliceblue; padding: 1rem;" >
        <%= user.uname_ %> <span>has booked an Appointment with </span>
        <%= user.faculty_ %>
        <span>for </span>
        <%= user.purpose_ %>
        <span>on</span>
        <%= user.date_ %>
        <span>.               &nbsp</span>
      </div>
     <hr>
   <%  })  %>


  </div>




</body>
</html>
